#content
  #introduction
    %h2 About Us
  .caption.left
    = image_tag "staff_spring09.jpg"
  :textile
    The Wisconsin Engineer is published four times yearly in September, November, February, and April by the Wisconsin Engineering Journal Association. It has been in print since 1896. Subscription is $12 for one year.

    The Wisconsin Engineer magazine is published by and for students at UW-Madison. Philosophies and opinions expressed in this magazine do not necessarily reflect those of the College of Engineering and its management. All interested students have an equal opportunity to contribute to this publication.

    The group meets every other Wednesday night at 7pm in Tong Auditorium. For more info mail us at wiscengr at cae dot wisc dot edu (replace dots with periods).

    All material in this publication is copyrighted. We are a member of the Associated Collegiate Press.

    Faculty Advisor: Steven Zwickel

    Publisher: American Printing Co.
