#content
  #introduction
    %h2 Advertising
  :textile
    The Wisconsin Engineer is a self-supporting educational and public service magazine. It is published four times each year by UW College of Engineering students and has a circulation of about 3500 copies. Twenty percent of our circulation goes to paid subscriptions, and the rest is distributed free to students around the campus. Also, every high school in Wisconsin has a copy sent to its library.

    Advertising in the Wisconsin Engineer is a great investment, whether you are interested in easily reaching more than 6000 engineering students or simply supporting a worthy organization. The Wisconsin Engineer provides the most direct means of communication with the engineering community at the University of Wisconsin-Madison.

    Place Your Ad Today!

    For more information on advertising - including current rates and deadlines, please contact us at wiscengr at cae dot wisc dot edu

  %h3= link_to "Advertising Portfolio (PDF)", "/advertising_portfolio_2008.pdf"

  :textile
    We now have a PDF version of our advertising portfolio. This portfolio includes information about our publication as well as current rates and deadlines.
