#introduction
  %h2 Browser Requirements
  %p The WEM website requires a modern web browser.

#sidebar
  %dl#articleList
    %dt Supported Browsers
    %dd
      %ul
        %li
          %a{ :href => "http://apple.com/safari/download/"} Safari 3.0.4 &ndash; 4.0.5
          %a{ :href => "http://www.google.com/chrome/" } Google Chrome 1.0 &ndash; 5.x
          %a{ :href => "http://mozilla.com/firefox/" } Firefox 2.0 &ndash; 3.6.3
          %a{ :href => "http://www.opera.com/download/" } Opera 8.01 &ndash; 10.50
          %a{ :href => "http://www.microsoft.com/windows/internet-explorer/" } Internet Explorer 7 &ndash; 8
          

#content.sidebar{ :style => "min-height: 200px" }
  %div{ :style=> "float: right; margin-left: 16px; margin-bottom: 16px" }= image_tag "browser_icons.png"
  :textile
    The designers of the WEM website encourage upgrading to a web browser released in the last 3-4 years.  Nearly all modern browsers will work wonderfully with this site, though the newest versions will always perform the best.  Please feel free to download a new release by clicking one of the links under the "Supported Browsers" heading on this page.
    
  .author
    :textile
      Incidentally, we may have directed you to this message because you visited WEM with an old, "unsupported":http://googleenterprise.blogspot.com/2010/01/modern-browsers-for-modern-applications.html web browser, such as Internet Explorer 6.
  
  %h3 Mobile Device Support
  %div{ :style=> "float: right; margin-left: 16px; margin-bottom: 16px" }= image_tag "wem-ipad-small.jpg"
  :textile
    WEM looks great on the Apple iPad's "Safari web browser":http://www.apple.com/ipad/features/safari.html.
    
    Smartphones running iPhone OS or Android should be able to view the full design.  A mobile-optimized version of the WEM site will be released in the near future.
    
    h3. Issues & Feedback
    
    If something looks out of place on this site, we would love to fix it.  Please contact Wisconsin Engineer Magazine with any comments, feedback, or bugs on the website (thanks in advance).