#footer
  %div#leftInfo{ :title => "\&copy;2010 Wisconsin Engineer Magazine\nM1066 Engineering Centers Building\n1550 Engineering Drive, Madison, WI 53706"}
    %p.copyright
      \&copy;2010 Wisconsin Engineer Magazine
    %p.address
      M1066 Engineering Centers Building
    %p.address
      1550 Engineering Drive, Madison, WI 53706
  %div#centerInfo
    %a#logo-footer{ :href => "/", :title => "Return to Home Page" } Return to Home Page
  %div#rightInfo
    %p#contact-email
      wiscengr@cae.wisc.edu
    %p#contact-phone
      608.262.3494